<div ng-controller="loginController">
  <div id='body_login' ng-class="viewBackground">
   <div class='container'>
     
     <div class='row fadeIn animated'>
       <div class= 'col-xs-7 col-xs-offset-7  ' >
         <div id='login'>
            <h3>NOMBRE:</h3>
             <input type="text" name="nombre" value="" ng-model = "user.username" />
             
            <h3>CONTRASENA:</h3>
             <input type="password" name="password" value="" ng-model = "user.password"/><br> </br>
             <button id='aceptar' type="button" class="btn btn-success" aria-label="Right Align" ng-click="login(user)" >Entrar</button>
         </div>
       </div>
     </div>

   </div>
 </div>
</div>